<div class="card bg-custom text-white" style="width: 18rem">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{ legend.description }}</h6>
    <p class="card-text"></p>
    <div
      class="legend text-black p-3 border rounded bg-light"
      style="font-size: 0.9rem; line-height: 1.6"
    >
      <div class="d-flex align-items-center mb-1">
        <i
          style="
            background: #961215;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 8px;
          "
        ></i>
        {{
          legend.isCurrency()
            ? (legend.threshold[3] | currency: "EUR")
            : (legend.threshold[3] | number: "1.0-0")
        }}
        –
        {{
          legend.isCurrency()
            ? (legend.getMax() | currency: "EUR")
            : (legend.getMax() | number: "1.0-0")
        }}
      </div>

      <div class="d-flex align-items-center mb-1">
        <i
          style="
            background: #cb181d;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 8px;
          "
        ></i>
        {{
          legend.isCurrency()
            ? (legend.threshold[2] | currency: "EUR")
            : (legend.threshold[2] | number: "1.0-0")
        }}
        –
        {{
          legend.isCurrency()
            ? (legend.threshold[3] | currency: "EUR")
            : (legend.threshold[3] | number: "1.0-0")
        }}
      </div>

      <div class="d-flex align-items-center mb-1">
        <i
          style="
            background: #fb6a4a;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 8px;
          "
        ></i>
        {{
          legend.isCurrency()
            ? (legend.threshold[1] | currency: "EUR")
            : (legend.threshold[1] | number: "1.0-0")
        }}
        –
        {{
          legend.isCurrency()
            ? (legend.threshold[2] | currency: "EUR")
            : (legend.threshold[2] | number: "1.0-0")
        }}
      </div>

      <div class="d-flex align-items-center mb-1">
        <i
          style="
            background: #fcae91;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 8px;
          "
        ></i>
        {{
          legend.isCurrency()
            ? (legend.threshold[0] | currency: "EUR")
            : (legend.threshold[0] | number: "1.0-0")
        }}
        –
        {{
          legend.isCurrency()
            ? (legend.threshold[1] | currency: "EUR")
            : (legend.threshold[1] | number: "1.0-0")
        }}
      </div>

      <div class="d-flex align-items-center mb-1">
        <i
          style="
            background: #fee5d9;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 8px;
          "
        ></i>
        {{
          legend.isCurrency()
            ? (legend.getMin() | currency: "EUR")
            : (legend.getMin() | number: "1.0-0")
        }}
        –
        {{
          legend.isCurrency()
            ? (legend.threshold[0] | currency: "EUR")
            : (legend.threshold[0] | number: "1.0-0")
        }}
      </div>

      <div
        *ngIf="
          legend.type == 'prix_m2_median_maisons' ||
          legend.type == 'prix_m2_median_appartements'
        "
        class="d-flex align-items-center mt-2"
      >
        <i
          style="
            background: #ffffff;
            border: 1px solid #ccc;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 8px;
          "
        ></i>
        <span class="text-muted">Pas assez de données.</span>
      </div>
    </div>
  </div>
</div>
